---
import MainLayout from '../../layouts/MainLayout.astro';
import ArticleAdmin from '../../components/articles/ArticleAdmin';
---

<MainLayout
  title="관리자 | 아티클 피드 | Restato"
  description="아티클 피드 관리자 패널 - RSS 소스 및 아티클 수집 관리"
>
  <div class="max-w-4xl mx-auto px-4 py-8">
    <ArticleAdmin client:load />
  </div>
</MainLayout>
