---
import MainLayout from '../../layouts/MainLayout.astro';
import JobsAggregator from '../../components/jobs/JobsAggregator';
---

<MainLayout
  title="IT 채용공고 모음 | Restato"
  description="국내외 IT 기업들의 채용공고를 한눈에 확인하세요. 우아한형제들, 네이버, 카카오, 토스, 라인, 당근 등 주요 IT 기업 채용 정보를 실시간으로 모아봅니다."
>
  <div class="max-w-6xl mx-auto px-4 py-8">
    <JobsAggregator client:load />
  </div>
</MainLayout>
